<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a routerLink="" class="navbar-brand">Home</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="login" class="nav-link active" aria-current="page">Login</a>
            </li>
            <li class="nav-item">
              <a routerLink="cursos" class="nav-link">Curso</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
    <nav class="navbar bg-light">
      <ul style="list-style: none">
        <li>
          <input #idCurso placeholder="Insira o ID"> 
          <button class="nav-item">
            <a  [routerLink]="['curso', idCurso.value]" class="nav-link">Confirmar</a>
          </button>
        </li>
        </ul>
      
      
    </nav>
  </div>
<router-outlet></router-outlet>
</body>
</html>

